@import 'compass',
'article',
'blog';

h1{
  text-align: center;
}

.flex{
  display: flex;
  flex-flow: wrap;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}